.brew-card {
  background-color: white;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 12px 12px 24px rgba(255, 254, 254, 0.519);
  transition: transform 250ms;
  color: black;
}


.brew-card:hover {
  transform: translateY(10px)
}
