.state-selector {
  margin-top: 2%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  }
  
  label {
    font-size: 2.5vw;
    margin-right: 2%;
  }
  
  select {
    width: 25vw;
    height: 3vh;
    cursor: pointer;
  }
  
  .submit-state {
    margin-left: 2%;
    height: 3vh;
    border-radius: 5px;
    background-color: white;
    width: 10vw;
    cursor: pointer;
    flex-basis: 30%;
  }
  
  .submit-state:hover {
    background-color: rgba(0, 0, 0, 0.941);
    color: white;
  }
  
  #state {
    margin-left: 2%;
  }
  
  
  @media screen and (max-width: 768px) {
    label {
      font-size: 4vw;
      flex-basis: 100%;
    }
  
    select {
      width: 50vw;
      height: 5vh;
      flex-basis: 100%;
      margin-top: 2%;
    }
  
    .submit-state {
      width: 20vw;
      flex-basis: 100%;
      margin-top: 2%;
    }
  
    span {
      font-size: 3vw;
      flex-basis: 100%;
    }
  }