@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

html, body, #root, .App, .brewcard-container {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: 'Kelly Slab', cursive;
}