.single-brewery-name,
.single-brewery-address,
.single-brewery-phone,
.single-brewery-website {
    color: white;
}

.single-brewery-website a {
    color: #ff0000; /* change this to the desired color */
  }

.single-brewery-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button {
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
}