.single-brewery-name,
.single-brewery-address,
.single-brewery-phone {
    color: white;
}

.single-brewery-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button {
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
}