.App {
  text-align: center;
  background-color: black;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 100px;
  font-weight: lighter;
  color: white;
  margin-bottom: 10px;
}

.logo {
  background-image: url("/src/assets/logo-grey.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}